# Ignore virtual environment directory
/.venv

# Ignore vscode setting directory
/.vscode

# Ignore data directory
/data/

# Ignore design doc
design_doc.txt

# Ignore logs directory
/logs

# Added by dvc
/data

# Jupyter Notebook checkpoints and backups
.ipynb_checkpoints/
*.ipynb~

# Ignore mypy cache
/.mypy_cache

# Ignore uv lock file
uv.lock

# Ingore ruff cache
/.ruff_cache
