# Virtual Environment
/.venv

# IDE and Editor Settings
/.vscode
.idea/

# Environment Files
.env
.env.*

# Data Files and Directories
/data/
*.csv
*.parquet
*.h5
/datasets/

# Logs and Temporary Files
/logs
*.log
*.tmp
*.bak

# Jupyter Notebook Files
.ipynb_checkpoints/
*.ipynb~
*.nbconvert.ipynb

# Compiled Python Files
*.pyc
*.pyo
__pycache__/

# Build and Distribution Files
/build/
/dist/
*.egg-info/

# Testing Artifacts
.pytest_cache/
coverage.xml
.coverage

# Cache Files
/.mypy_cache
/.ruff_cache
.dvc/

# Lock Files
uv.lock

# Design Documents
design_doc.txt
